Source: linz-bde-uploader
Section: misc
Priority: optional
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: perl (>= 5.8),
 libmodule-build-perl
Standards-Version: 3.9.5
Maintainer: Jeremy Palmer (LINZ) <jpalmer@linz.govt.nz>
Homepage: http://www.linz.govt.nz
Vcs-Git: git://github.com/linz/linz_bde_uploader.git
Vcs-Browser: https://github.com/linz/linz_bde_uploader

Package: linz-bde-uploader
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends},
 linz-bde-schema
 liblog-log4perl-perl,
 liblog-dispatch-perl,
 libdate-manip-perl,
 liblog-dispatch-filerotate-perl,
 libmail-sender-perl,
 libdate-calc-perl,
 libdbd-pg-perl,
 libtry-tiny-perl,
 liblinz-utils-perl,
 liblinz-bde-perl,
 cifs-utils,
 perl-doc,
 postgresql-9.3,
 postgresql-client-9.3,
 postgresql-9.3-tableversion
Recommends:
Description: Programme for loading LINZ BDE files into a PostgreSQL
 database. linz_bde_uploader has the ability to load full and incremental
 table Landonline BDE loads, as well as manage versioning information.
