Source: linz-bde-uploader
Section: misc
Priority: optional
Build-Depends:
 debhelper (>= 7),
 libtest-cmd-perl,
 libtest-exception-perl
Build-Depends-Indep:
 perl (>= 5.8),
 libmodule-build-perl
Standards-Version: 3.9.5
Maintainer: Jeremy Palmer (LINZ) <jpalmer@linz.govt.nz>
Homepage: http://www.linz.govt.nz
Vcs-Git: git://github.com/linz/linz-bde-uploader.git
Vcs-Browser: https://github.com/linz/linz-bde-uploader

Package: linz-bde-uploader
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends},
 linz-bde-schema,
 liblog-log4perl-perl,
 liblog-dispatch-perl,
 libdate-manip-perl,
 liblog-dispatch-filerotate-perl,
 libmail-sender-perl,
 libdate-calc-perl,
 libdbd-pg-perl,
 libtry-tiny-perl,
 liblinz-utils-perl,
 liblinz-bde-perl,
 cifs-utils,
 perl-doc,
 postgresql-client-11 | postgresql-client-10 | postgresql-client-9.6 | postgresql-client-9.5 | postgresql-client-9.4 | postgresql-client-9.3,
 tableversion
Recommends:
 postgresql-11-tableversion | postgresql-10-tableversion | postgresql-9.6-tableversion | postgresql-9.5-tableversion | postgresql-9.4-tableversion | postgresql-9.3-tableversion
Suggests:
 postgresql-11 | postgresql-10 | postgresql-9.6 | postgresql-9.5 | postgresql-9.4 | postgresql-9.3
Description: Programme for loading LINZ BDE files into a PostgreSQL
 database. linz_bde_uploader has the ability to load full and incremental
 table Landonline BDE loads, as well as manage versioning information.
